<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - IWS Feature Requests</title>
    <!-- Static files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/fontawesome.min.css') }}">
</head>
<body>
    <div>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
            <a class="navbar-brand" href="{{ url_for('index') }}">IWS Feature Requests</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                {% if g.user %}
                    <li class="nav-item active"><a class="nav-link" href="{{ url_for('index') }}">Home
                        <span class="sr-only">(current)</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('create') }}">New Feature Request</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('add_client') }}">New Client</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('add_priority') }}">New Priority</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('add_product_area') }}">New Product Area</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out
                        <i class="fa fa-power"></i></a></li>
                    <li class="nav-item"><span class="navbar-text">{{ g.user['username'] }}</span></li>

                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.register') }}">Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a></li>
                {% endif %}
                </ul>
            </div>
        </nav>

        <!-- Content -->
        <section class="content">
            <header>
                {% block header %}{% endblock %}
            </header>

            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            {% block content %}

            {% endblock %}
        </section>

        <!--Footer-->
        <footer class="py-5" style="background-color: #e3f2fd;">
            <div>
                <p align="center">Copyright &copy; Anna Makarudze 2018</p>
            </div>
        </footer>

    </div>

    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='font-awesome/fontawesome.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap-datetimepicker.min.js') }}"></script>

     <script>
         $(function () {
              $('#target_date').datetimepicker();
         });
     </script>
</body>
</html>
