{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Add New Feature Request{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
                <input name="title" class="form-control" id="title" placeholder="Enter title" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <textarea name="description" class="form-control" id="description" placeholder="Enter description"
                          rows="5" required>
                </textarea>
            </div>
        </div>
        <div class="form-group row">
            <label for="customer_id" class="col-sm-2 col-form-label">Customer</label>
            <div class="col-sm-10">
                <select name="customer_id" class="form-control" id="customer_id" placeholder="Select customer" required>
                    {% for client in clients %}
                        <option value="{{ client.id }}">{{ client['name'] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="priority_id" class="col-sm-2 col-form-label">Priority</label>
            <div class="col-sm-10">
                <select name="priority_id" class="form-control" id="priority_id"  placeholder="Select Priority"required>
                    {% for priority_level in priority_list %}
                        <option value="{{ priority_level.id }}">{{ priority_level['priority_level'] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="product_area" class="col-sm-2 col-form-label">Product Area</label>
            <div class="col-sm-10">
                <select name="product_area" class="form-control" id="product_area"  placeholder="Select Product Area"required>
                    {% for product_area in product_areas %}
                        <option value="{{ product_area.id }}">{{product_area['name'] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="target_date" class="col-sm-2 col-form-label">Target date</label>
            <div class="col-sm-10">
                <input name="target_date" class="form-control" id="target_date" placeholder="Enter target date" required>
            </div>
        </div>
        <input type="submit" class="btn btn-primary mb-2" value="Add">
    </form>

{% endblock %}