{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Add New Feature Request{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
                <input name="title" class="form-control" id="title" placeholder="Enter title" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <textarea name="description" class="form-control" id="description" placeholder="Enter description"
                          rows="5" required>
                </textarea>
            </div>
        </div>
        <div class="form-group row">
            <label for="client_id" class="col-sm-2 col-form-label">Client</label>
            <div class="col-sm-10">
                <select name="client_id" class="form-control" id="client_id" placeholder="Select client" required>
                    <option>Sample Client</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="priority_id" class="col-sm-2 col-form-label">Priority</label>
            <div class="col-sm-10">
                <select name="priority_id" class="form-control" id="priority_id"  placeholder="Select Priority"required>
                    <option>Sample Priority</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="target_date" class="col-sm-2 col-form-label">Target date</label>
            <div class="col-sm-10">
                <input name="target_date" class="form-control" id="target_date" placeholder="Enter target date" required>
            </div>
        </div>
        <input type="submit" class="btn btn-primary mb-2" value="Add">
    </form>
{% endblock %}