{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Feature Requests{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('features.create') }}">New Feature Request</a>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row">
      <div class="col-sm-4"><b>Title</b></div>
      <div class="col-sm-2"><b>Client</b></div>
      <div class="col-sm-1"><b>Priority</b></div>
      <div class="col-sm-2"><b>Target Date</b></div>
      <div class="col-sm-2"><b>Date Created</b></div>
      <div class="col-sm-1"></div>

  </div>

{% endblock %}