{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Add Product Area{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Product Area</label>
            <div class="col-sm-10">
                <input class="form-control" name="name" id="name" placeholder="Enter product area" required>
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Add">
    </form>
{% endblock %}